.block {
	background: white;
	padding: 24px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: var(--size-padding-16);
}

.header {
	width: 100%;
	display: flex;
}

.actions {
	display: flex;
	align-items: center;
	margin-left: auto;
	height: 100%;
}