.page {
	height: 100dvh;
	width: 100dvw;
	background: #efefef;
}

.page__content {
	height: 100%;
	max-height: 100%;
	padding-left: var(--size-padding-16);
	padding-right: var(--size-padding-16);
}

.actions-page {
	display: grid;
	grid-template-columns: min-content 1fr;
}
