.container {
	display: flex;
	flex-direction: column;
	gap: var(--size-padding-16);
	height: 100%;
	width: 100%;
}

.container__loading {
	align-items: center;
	justify-content: center;
}

.block {
	display: flex;
	flex-direction: column;
	gap: var(--size-padding-16);
}
