.container {
  display: flex;
  flex-direction: column;
  border-right: 1px rgb(200, 200, 200) solid;
  background: white;
  padding: 12px;
}

.action {
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
}

.action:hover {
  background: rgb(230, 230, 230);
}

.action__logout {
  margin-top: auto;
}
