.footer {
  display: flex;
  gap: var(--size-spacing-24);

  align-items: center;
  justify-content: flex-start;

  padding: var(--size-spacing-16);

  border-top: 1px #e6e6e6 solid;

  cursor: pointer;
}

.avatar {  
  height: 30px;
  width: 30px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;

  background: black;
  color: white;

  border-radius: 50%;
}

.user_info {
  color: var(--text-primary);
  font-size: 0.875rem;
}
