:root {
  --size-spacing-32: 1rem;
  --size-spacing-24: 0.75rem;
  --size-spacing-16: 0.5rem;
  --size-spacing-8: 0.25rem;
  --max-width-media: 915px;

  /* colors */
  --line-color: rgb(199, 199, 199);
  --error-color: red;
  --hover-color: #efefef;

  --text-secondary: #929292;
  --text-primary: #252525;

  /* z-index */
  --modal-z-index: 101;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
